<p-toast position="top-right" key="msg"></p-toast>
<p-card header="Cargando..." *ngIf="showSpinner">
    <p-progressSpinner [style]="{width: '1280px', height: '371px'}" strokeWidth="1" fill="#EEEEEE"
        animationDuration=".9s"></p-progressSpinner>
</p-card>
<p-card header="Actividades" *ngIf="!showSpinner">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="abrirDialogNuevaActividad()"></button>
        </ng-template>
    </p-toolbar>
    <h5>Listado Actividades</h5>
    <p-table #dt1 [value]="actividades" selectionMode="single" [(selection)]="actividad" dataKey="ICodigo"
        responsiveLayout="scroll" [rows]="10" [paginator]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Titulo Actividad</th>
                <th>Descripcion</th>
                <th>Empleado Asignado</th>
                <th>Estado Actividad</th>
                <th>Fecha Estimada Ejecución</th>
                <th>Dias Retraso</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-actividad>
            <tr>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            {{actividad.CTitulo}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            {{actividad.CDescripcion}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            {{actividad.IPersonaAsignada.CLabelEmpleado }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            {{actividad.IEstadoActividad.CDescripcion }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            {{actividad.FFechaEstimadaEjecucion | date:"medium" }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <p-badge value="{{actividad.IDiasRetraso}}" *ngIf="actividad.IDiasRetraso > 1"
                                severity="danger" size="large" styleClass="mr-2"></p-badge>
                            <p-badge value="{{actividad.IDiasRetraso}}" *ngIf="actividad.IDiasRetraso == 0"
                                severity="success" size="large" styleClass="mr-2"></p-badge>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td style="text-align:center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="inicializarEditarActividad(actividad)"></button>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="confirmarEliminarActividad(actividad)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>


<p-dialog [(visible)]="mostrarDialogActividad" [breakpoints]="{'960px': '75vw'}" [style]="{width: '650px'}"
    [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <p-card header="Cargando..." *ngIf="showSpinnerDialog">
        <p-progressSpinner [style]="{width: '450px', height: '200px'}" strokeWidth="1" fill="#EEEEEE"
            animationDuration=".9s"></p-progressSpinner>
    </p-card>
    <p-card header="Crear Nueva Actividad" *ngIf="!showSpinnerDialog">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="titulo">Titulo</label>
                <input type="text" pInputText id="titulo" [(ngModel)]="actividad.CTitulo" required autofocus />

            </div>
            <div class="field">
                <label for="descripcion">Descripcion</label>
                <textarea id="descripcion" pInputTextarea [(ngModel)]="actividad.CDescripcion" required rows="3"
                    cols="20"></textarea>
            </div>

            <div class="field">
                <label for="Empleados">Empleado</label>
                <p-dropdown [(ngModel)]="selectedEmpleado" optionLabel="CLabelEmpleado" optionValue="ICodigo"
                    inputId="selectEmpleado" [options]="empleados" placeholder="Seleccione">
                </p-dropdown>
            </div>
            <div class="field">
                <label for="Estatus Actividad">Status Actividad</label>
                <p-dropdown [(ngModel)]="selectedEstadoActividad" inputId="selectEstadoActividad"
                    [options]="estadoActividades" placeholder="Seleccione" optionLabel="CDescripcion"
                    optionValue="ICodigo">
                </p-dropdown>
            </div>
            <div class="field">
                <label for="fechaEstimadaEjecucion">Fecha Estimada Ejecución</label>
                <p-calendar [(ngModel)]="actividad.FFechaEstimadaEjecucion" [showTime]="true" [inline]="true"
                    [showSeconds]="true" [showIcon]="true" hourFormat='12' inputId="fechaEstimadaEjecucion">
                </p-calendar>
            </div>
        </ng-template>
    </p-card>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined p-button-warning"
            (click)="ocultarDialogNuevaActividad()"></button>
        <button pButton pRipple label="Crear" *ngIf="activarBtnCrearActividad" icon="pi pi-check"
            class="p-button-outlined p-button-success" (click)="crearActividad()"></button>
        <button pButton pRipple label="Modificar" *ngIf="activarBtnEditarActividad" icon="pi pi-check"
            class="p-button-outlined p-button-info" (click)="editarActividad()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>